    
h2 {

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align:center;
  font-size:2rem;
  font-weight:600;
}
h1{
  text-align:center;
  word-spacing:20px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:3rem;
  text-shadow:2px 2px 8px rgb(159, 11, 213)
  

}
p{
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes logoAnimation{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(180deg);
    }
}
@keyframes backgroundanimation{
    0% {background-color: #dfd0ef;}
    25% {background-color: #cde0f5;}
    50% {background-color: #c8f0e0;}
    100% {background-color: #FFF1E6;}
}
body{
    animation:backgroundanimation 4s infinite linear;
}
.logo{
    width:15%;
    margin:auto;
    display:block;
    transform:rotate3d(180deg);
    animation:logoAnimation 3s infinite linear;
    
}
.car{
    margin:auto;
    
    display:block;
    width:50%;
    transition: transform 2s;

}

.car:hover{
    
    transform:scale(2);
}
.cardiv{
    margin-top:100px;
}
@keyframes buttonanimation{
    from{ transform:translateX(0%);}
    to{transform:translateX(80vw);}
}
.btn{
    margin-top:100px;
    margin-bottom:100px;
    display:inline-block;
    background-color: rgb(47, 2, 66);
    color: white;
    text-align:center;
    font-weight:600;
    border-radius:10px;
   position: absolute;
    width:10%;
    height:50px;
    animation:buttonanimation 8s infinite alternate-reverse;
}
.btn:hover{
    background-color: rgb(122, 19, 247);
    color:black;

}
.feature{
    margin-top:100px;
    font-weight:800;
    text-shadow:2px 2px 5px rgb(13, 86, 222)
}
.feature-card{
    overflow: hidden;
    display: block;
    margin: auto;
}
.feature-card img{
    margin-top:200px;
    margin-right: 20px;
    width:20%;
    float: left;
    display:inline-block;
}
.feature-card pre{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    width:85%;
    margin-top:100px;
    font-size:1.5rem;
    
}
.feature-card pre:hover {
    
    transform: skew(5deg);
    transition: transform 0.3s ease;
}